/* styles.css */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.calculator {
  width: 320px;
  background-color: #fff;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.display {
  text-align: right;
  margin-bottom: 20px;
}

.display input {
  width: 100%;
  background: none;
  border: none;
  color: #333;
  font-size: 2.5rem;
  padding: 15px;
  text-align: right;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

button {
  background-color: #e0e0e0;
  color: #333;
  font-size: 1.5rem;
  border: none;
  border-radius: 12px;
  padding: 20px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 5px 13px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button.operator {
  background-color: #FF5F1F;
  color: #fff;
}

button.equals {
  background-color: #FF5F1F;
  color: #fff;
  grid-column: span 2;
}

button:active {
  background-color: #d4d4d4;
}

button:active.operator,
button:active.equals {
  background-color:#e64a19;
}

button:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
